<h1 class="d-flex justify-content-center pt-5">Eat Da Burger!</h1>
<div class="row d-flex justify-content-center">
  <img src="https://media3.giphy.com/media/IgOEWPOgK6uVa/200w.webp?cid=ecf05e471u05fm3bcpxxoq94yjcbxmt8jsd86xcenbu6dsms&rid=200w.webp" alt="patrick-eating-burgers" class="w-50 p-1">

</div>
<div class = "row">
  <div class="col-md">
    <div class="row">
      <h2 class="d-flex justify-content-center p-3">Burgers Ready!</h2>
    </div>
    <div class="row p-1">
      <ul>
      {{#each burger}}
        {{#unless devoured}}
        <li id={{this.id}}>
          {{this.burger_name}}
          <button class="devour-burger" data-id = {{this.id}}>Devour It!</button>
        </li>
        {{/unless}}
      {{/each}}
    </ul>
    </div>    
  </div>
  
  <div class="col-md">
    <div class="row">
      <h2 class="d-flex justify-content-center p-3">Burgers Devoured!</h2>
    </div>
    <div class="row p-1">
      <ul>
      {{#each burger}}
        {{#if devoured}}
        <li id={{this.id}}>
            {{this.burger_name}}
            <button class="delete-burger" data-id = {{this.id}}>Delete</button>
        </li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <h2 class="d-flex justify-content-center pt-3">Add A Burger</h2>
  </div>
  <div class="row p-3">
    <form class="create-form d-flex justify-content-center">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>
      <button type="submit">Add!</button>
    </form>
  </div>
</div>
